{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      }
    }],
    "@babel/preset-flow"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", { "spec": true }],
    ["@babel/plugin-proposal-object-rest-spread", { "useBuiltIns": true }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
